#inputs [A, B, C, D, E, F, G, H, I, J, K, L, M, N, O]
#outputs [X, Y, Z, U, V, W, S, T, P, Q, R]
#0: output Y, output W always responds to input O
(false R (! iO | (true U (oY & X (true U oW)))))

#1: output S responds to input L before input E
(! (true U iE) | ((! iL | (! iE U (oS & ! iE))) U iE))

#2: output R always responds to input O
(false R (! iO | (true U oR)))

#3: output V precedes output S after input K until output Z
(false R (iK & (! ! oZ | (! oS WU (oV | oZ)))))

#4: output Z, input N precedes output Q after input J
((false R ! iJ) | (! iJ U (iJ & (! (true U oQ) | (! oQ U ((oZ & ! oQ) & X (! oQ U iN)))))))

#5: output U, output S always responds to input C
(false R (! iC | (true U (oU & X (true U oS)))))

#6: output S responds to input H, input N after output U
(false R (! oU | (false R (iH & (! X (true U iN) | X (! iN U (iN & (true U oS))))))))

#7: input I, input M precedes output W between output Q and input D
(false R (! (oQ & (true U iD)) | (! oW U (iD | ((iI & ! oW) & X (! oW U iM))))))

#8: output X, output V without output S responds to input N after output U
(false R (! oU | (false R (! iN | ((oX & ! oS) & X (! oS U oV))))))

#9: output P responds to input H after output U
(false R (! oU | (false R (! iH | (true U oP)))))

#10: output R, output S without output V responds to input N before output Y
(! (true U oY) | ((! iN | (! oY U (((oR & ! oY) & ! oV) & X ((! oY & ! oV) U oS)))) U oY))

#11: output V, output P without output X responds to input A before input B
(! (true U iB) | ((! iA | (! iB U (((oV & ! iB) & ! oX) & X ((! iB & ! oX) U oP)))) U iB))

#12: output U, input F always precedes output X
(! (true U oX) | (! oX U ((oU & ! oX) & X (! oX U iF))))

#13: output P, output T without output Z responds to input J betwen input O and input E
(false R (! (iO & (true U iE)) | ((! iJ | (! iE U (((oP & ! iE) & ! oZ) & X ((! iE & ! oZ) U oT)))) U iE)))

#14: output V, output U responds to input K after input O until output W
(false R (! iO | ((! iK | (! oW U ((oV & ! oW) & X (! oW U oU)))) U (oW | (false R (! iK | (oV & X (true U oU))))))))

#15: input A precedes output Z after output T until output Y
(false R (oT & (! ! oY | (! oZ WU (iA | oY)))))

#16: input D precedes output P, output V after input C
((false R ! iC) | (! iC U (iC & (! (true U (oP & X (true U oV))) | (! oP U iD)))))

#17: output P always responds to input J, input M
(false R (iJ & (! X (true U iM) | X (true U (iM & (true U oP))))))

#18: output W responds to input M, input F after output S until input G
(false R (! oS | ((iM & (! X (! iG U iF) | X (! iG U (iF & (true U oW))))) U (iG | (false R (iM & (! X (! iG U iF) | X (! iG U (iF & (true U oW))))))))))

#19: output R precedes output T, output Z between output P and output W
(false R (! (oP & (true U oW)) | (! ((oT & ! oW) & X (! oW U (oZ & ! oW))) U (oW | oR))))

#20: output Q, input A precedes output W after output S
((false R ! oS) | (! oS U (oS & (! (true U oW) | (! oW U ((oQ & ! oW) & X (! oW U iA)))))))

#21: output S, input H precedes output P between input F and input B
(false R (! (iF & (true U iB)) | (! oP U (iB | ((oS & ! oP) & X (! oP U iH))))))

#22: output W responds to input A, input I between input D and input J
(false R (! (iD & (true U iJ)) | ((iA & (! X (! iJ U iI) | X (! iJ U (iI & (true U oW))))) U iJ)))

#23: output Z, output T responds to input O after output W
(false R (! oW | (false R (! iO | (oZ & X (true U oT))))))

#24: input I precedes output V after input N until output Q
(false R (iN & (! ! oQ | (! oV WU (iI | oQ)))))

#25: output V responds to input I, input H before input L
(! (true U iL) | ((iI & (! X (! iL U iH) | X (! iL U (iH & (true U oV))))) U iL))

#26: output X, output Z without output U responds to input K betwen input I and output T
(false R (! (iI & (true U oT)) | ((! iK | (! oT U (((oX & ! oT) & ! oU) & X ((! oT & ! oU) U oZ)))) U oT)))

#27: output T, output Z without output R responds to input O before input I
(! (true U iI) | ((! iO | (! iI U (((oT & ! iI) & ! oR) & X ((! iI & ! oR) U oZ)))) U iI))

#28: output S, output R responds to input E between input C and input N
(false R (! (iC & (true U iN)) | ((! iE | (! iN U ((oS & ! iN) & X (! iN U oR)))) U iN)))

#29: input L always precedes output Q
(! oQ WU iL)

#30: output P responds to input D before input C
(! (true U iC) | ((! iD | (! iC U (oP & ! iC))) U iC))

#31: output V, output S without output Y responds to input J betwen input M and input C
(false R (! (iM & (true U iC)) | ((! iJ | (! iC U (((oV & ! iC) & ! oY) & X ((! iC & ! oY) U oS)))) U iC)))

#32: input N, input J precedes output Y after output U
((false R ! oU) | (! oU U (oU & (! (true U oY) | (! oY U ((iN & ! oY) & X (! oY U iJ)))))))

#33: input F, output S precedes output Y between input N and output X
(false R (! (iN & (true U oX)) | (! oY U (oX | ((iF & ! oY) & X (! oY U oS))))))

#34: input A always precedes output P
(! oP WU iA)

#35: input B precedes output Y between input H and input I
(false R (! ((iH & ! iI) & (true U iI)) | (! oY U (iB | iI))))

#36: output R, output S responds to input A before input G
(! (true U iG) | ((! iA | (! iG U ((oR & ! iG) & X (! iG U oS)))) U iG))

#37: output S, output Q responds to input G after output W
(false R (! oW | (false R (! iG | (oS & X (true U oQ))))))

#38: input H, output U precedes output Z after output Q until output X
(false R (! oQ | (! (true U oZ) | (! oZ U (oX | ((iH & ! oZ) & X (! oZ U oU)))))))

#39: output V responds to input D between input C and input H
(false R (! ((iC & ! iH) & (true U iH)) | ((! iD | (! iH U (oV & ! iH))) U iH)))

#40: output V always precedes output X, output P
(! (true U (oX & X (true U oP))) | (! oX U oV))

#41: input B, input E always precedes output W
(! (true U oW) | (! oW U ((iB & ! oW) & X (! oW U iE))))

#42: input K precedes output S, output W between input L and output U
(false R (! (iL & (true U oU)) | (! ((oS & ! oU) & X (! oU U (oW & ! oU))) U (oU | iK))))

#43: output Y, output S responds to input D after input H until input C
(false R (! iH | ((! iD | (! iC U ((oY & ! iC) & X (! iC U oS)))) U (iC | (false R (! iD | (oY & X (true U oS))))))))

#44: output R precedes output X before input C
(! (true U iC) | (! oX U (oR | iC)))

#45: output V precedes output Y between output X and output T
(false R (! ((oX & ! oT) & (true U oT)) | (! oY U (oV | oT))))

#46: output R, output W always responds to input H
(false R (! iH | (true U (oR & X (true U oW)))))

#47: output S responds to input H between output Y and output W
(false R (! ((oY & ! oW) & (true U oW)) | ((! iH | (! oW U (oS & ! oW))) U oW)))

#48: output P, output W without output T responds to input N after input F until input D
(false R (! iF | ((! iN | (! iD U (((oP & ! iD) & ! oT) & X ((! iD & ! oT) U oW)))) U (iD | (false R (! iN | ((oP & ! oT) & X (! oT U oW))))))))

#49: input I always precedes output Q, output S
(! (true U (oQ & X (true U oS))) | (! oQ U iI))

#50: input A precedes output Y, output V after output U until output R
(false R (! oU | ((! ((oY & ! oR) & X (! oR U (oV & ! oR))) U (oR | iA)) | (false R ! (oY & X (true U oV))))))

#51: output V, input F precedes output R between input L and output U
(false R (! (iL & (true U oU)) | (! oR U (oU | ((oV & ! oR) & X (! oR U iF))))))

#52: input I, input F precedes output Y after output V until output U
(false R (! oV | (! (true U oY) | (! oY U (oU | ((iI & ! oY) & X (! oY U iF)))))))

#53: output R, output P without output Y responds to input I after input C until input K
(false R (! iC | ((! iI | (! iK U (((oR & ! iK) & ! oY) & X ((! iK & ! oY) U oP)))) U (iK | (false R (! iI | ((oR & ! oY) & X (! oY U oP))))))))

#54: output X precedes output R, output S after output Q
((false R ! oQ) | (! oQ U (oQ & (! (true U (oR & X (true U oS))) | (! oR U oX)))))

#55: output R, output W without output V responds to input C before output U
(! (true U oU) | ((! iC | (! oU U (((oR & ! oU) & ! oV) & X ((! oU & ! oV) U oW)))) U oU))

#56: input N, input A precedes output X after output W until output R
(false R (! oW | (! (true U oX) | (! oX U (oR | ((iN & ! oX) & X (! oX U iA)))))))

#57: input N precedes output Q after output R until input O
(false R (oR & (! ! iO | (! oQ WU (iN | iO)))))

#58: output T precedes output W, output Q before output X
(! (true U oX) | (! ((oW & ! oX) & X (! oX U (oQ & ! oX))) U (oX | oT)))

#59: input F precedes output S, output R before input C
(! (true U iC) | (! ((oS & ! iC) & X (! iC U (oR & ! iC))) U (iC | iF)))

#60: output X, output U without output T responds to input D before input C
(! (true U iC) | ((! iD | (! iC U (((oX & ! iC) & ! oT) & X ((! iC & ! oT) U oU)))) U iC))

#61: output Q, output Y precedes output P between input L and output U
(false R (! (iL & (true U oU)) | (! oP U (oU | ((oQ & ! oP) & X (! oP U oY))))))

#62: input L precedes output X after input F until input K
(false R (iF & (! ! iK | (! oX WU (iL | iK)))))

#63: input C, input N precedes output R between output P and input O
(false R (! (oP & (true U iO)) | (! oR U (iO | ((iC & ! oR) & X (! oR U iN))))))

#64: output T, output Y precedes output W after input K
((false R ! iK) | (! iK U (iK & (! (true U oW) | (! oW U ((oT & ! oW) & X (! oW U oY)))))))

#65: input G precedes output W, output Z after input D
((false R ! iD) | (! iD U (iD & (! (true U (oW & X (true U oZ))) | (! oW U iG)))))

#66: output S responds to input M, input H before input D
(! (true U iD) | ((iM & (! X (! iD U iH) | X (! iD U (iH & (true U oS))))) U iD))

#67: output S responds to input O after input B
(false R (! iB | (false R (! iO | (true U oS)))))

#68: output W always responds to input N, input L
(false R (iN & (! X (true U iL) | X (true U (iL & (true U oW))))))

#69: output P, output R responds to input H after output V
(false R (! oV | (false R (! iH | (oP & X (true U oR))))))

#70: output V, output S responds to input M after input E
(false R (! iE | (false R (! iM | (oV & X (true U oS))))))

#71: output T responds to input N between input I and output X
(false R (! ((iI & ! oX) & (true U oX)) | ((! iN | (! oX U (oT & ! oX))) U oX)))

#72: output V, output R always responds to input M
(false R (! iM | (true U (oV & X (true U oR)))))

#73: output Q precedes output W, output Y between input L and input G
(false R (! (iL & (true U iG)) | (! ((oW & ! iG) & X (! iG U (oY & ! iG))) U (iG | oQ))))

#74: input B precedes output Y after input G until input C
(false R (iG & (! ! iC | (! oY WU (iB | iC)))))

#75: output Z always precedes output S, output X
(! (true U (oS & X (true U oX))) | (! oS U oZ))

#76: input N precedes output Z, output X after input H
((false R ! iH) | (! iH U (iH & (! (true U (oZ & X (true U oX))) | (! oZ U iN)))))

#77: output Z responds to input G, input F after input H
(false R (! iH | (false R (iG & (! X (true U iF) | X (! iF U (iF & (true U oZ))))))))

#78: output Q responds to input O before input J
(! (true U iJ) | ((! iO | (! iJ U (oQ & ! iJ))) U iJ))

#79: output Y responds to input E between output X and output T
(false R (! ((oX & ! oT) & (true U oT)) | ((! iE | (! oT U (oY & ! oT))) U oT)))

#80: input F precedes output S, output X after input G
((false R ! iG) | (! iG U (iG & (! (true U (oS & X (true U oX))) | (! oS U iF)))))

#81: output V, output R without output Z always responds to input L
(false R (! iL | (true U ((oV & ! oZ) & X (! oZ U oR)))))

#82: output W responds to input E before input D
(! (true U iD) | ((! iE | (! iD U (oW & ! iD))) U iD))

#83: input M precedes output R between input A and input I
(false R (! ((iA & ! iI) & (true U iI)) | (! oR U (iM | iI))))

#84: output W responds to input E, input B between input I and input D
(false R (! (iI & (true U iD)) | ((iE & (! X (! iD U iB) | X (! iD U (iB & (true U oW))))) U iD)))

#85: output Z, output P responds to input A after output R
(false R (! oR | (false R (! iA | (oZ & X (true U oP))))))

#86: input L, output X precedes output W before input F
(! (true U iF) | (! oW U (iF | ((iL & ! oW) & X (! oW U oX)))))

#87: output Z always responds to input E
(false R (! iE | (true U oZ)))

#88: output T responds to input B, input M after input O
(false R (! iO | (false R (iB & (! X (true U iM) | X (! iM U (iM & (true U oT))))))))

#89: output Y responds to input J, input B after output X
(false R (! oX | (false R (iJ & (! X (true U iB) | X (! iB U (iB & (true U oY))))))))

#90: output R responds to input I before input M
(! (true U iM) | ((! iI | (! iM U (oR & ! iM))) U iM))

#91: output P, output W without output Y responds to input K after output X
(false R (! oX | (false R (! iK | ((oP & ! oY) & X (! oY U oW))))))

#92: input E precedes output Y after output W until input O
(false R (oW & (! ! iO | (! oY WU (iE | iO)))))

#93: output Y precedes output V, output W after input B until input J
(false R (! iB | ((! ((oV & ! iJ) & X (! iJ U (oW & ! iJ))) U (iJ | oY)) | (false R ! (oV & X (true U oW))))))

#94: output Z, output R always responds to input M
(false R (! iM | (true U (oZ & X (true U oR)))))

#95: output U always precedes output W
(! oW WU oU)

#96: output W, output R without output Y responds to input H before output T
(! (true U oT) | ((! iH | (! oT U (((oW & ! oT) & ! oY) & X ((! oT & ! oY) U oR)))) U oT))

#97: input O, output R precedes output Z between output Y and output U
(false R (! (oY & (true U oU)) | (! oZ U (oU | ((iO & ! oZ) & X (! oZ U oR))))))

#98: output S precedes output U before input A
(! (true U iA) | (! oU U (oS | iA)))

#99: output X responds to input L, input J before input A
(! (true U iA) | ((iL & (! X (! iA U iJ) | X (! iA U (iJ & (true U oX))))) U iA))

