#inputs [A, B, C, D, E, F, G, H, I, J]
#outputs [X, Y, Z, U, V, W, S, T, O, P, Q, R]
#0: output Y responds to input I after output P until output W
(false R (oP & (! ! oW | ((! iI | (! oW U (oY & ! oW))) WU oW))))

#1: output Z responds to input D after input B until input F
(false R (iB & (! ! iF | ((! iD | (! iF U (oZ & ! iF))) WU iF))))

#2: input C always precedes output O, output Z
(! (true U (oO & X (true U oZ))) | (! oO U iC))

#3: input B, output Q precedes output S after output T
((false R ! oT) | (! oT U (oT & (! (true U oS) | (! oS U ((iB & ! oS) & X (! oS U oQ)))))))

#4: input E precedes output X, output W before output U
(! (true U oU) | (! ((oX & ! oU) & X (! oU U (oW & ! oU))) U (oU | iE)))

#5: output Q responds to input E, input H between input F and output W
(false R (! (iF & (true U oW)) | ((iE & (! X (! oW U iH) | X (! oW U (iH & (true U oQ))))) U oW)))

#6: output W responds to input H, input D between output Z and input I
(false R (! (oZ & (true U iI)) | ((iH & (! X (! iI U iD) | X (! iI U (iD & (true U oW))))) U iI)))

#7: output O, output V responds to input E after output R
(false R (! oR | (false R (! iE | (oO & X (true U oV))))))

#8: output P precedes output R, output O after input E
((false R ! iE) | (! iE U (iE & (! (true U (oR & X (true U oO))) | (! oR U oP)))))

#9: input A precedes output W, output R after output V
((false R ! oV) | (! oV U (oV & (! (true U (oW & X (true U oR))) | (! oW U iA)))))

#10: output V, output U always responds to input H
(false R (! iH | (true U (oV & X (true U oU)))))

#11: output V precedes output S, output X after input H
((false R ! iH) | (! iH U (iH & (! (true U (oS & X (true U oX))) | (! oS U oV)))))

#12: output O precedes output Z, output R between output P and output S
(false R (! (oP & (true U oS)) | (! ((oZ & ! oS) & X (! oS U (oR & ! oS))) U (oS | oO))))

#13: output Y, output T without output R responds to input C after input F until output O
(false R (! iF | ((! iC | (! oO U (((oY & ! oO) & ! oR) & X ((! oO & ! oR) U oT)))) U (oO | (false R (! iC | ((oY & ! oR) & X (! oR U oT))))))))

#14: output P precedes output Z before output T
(! (true U oT) | (! oZ U (oP | oT)))

#15: output U, output V responds to input E after input H until output X
(false R (! iH | ((! iE | (! oX U ((oU & ! oX) & X (! oX U oV)))) U (oX | (false R (! iE | (oU & X (true U oV))))))))

#16: output Q, output O responds to input I after input C until output U
(false R (! iC | ((! iI | (! oU U ((oQ & ! oU) & X (! oU U oO)))) U (oU | (false R (! iI | (oQ & X (true U oO))))))))

#17: output V responds to input G, input B before input F
(! (true U iF) | ((iG & (! X (! iF U iB) | X (! iF U (iB & (true U oV))))) U iF))

#18: output X, output Y without output P responds to input C after input H until output O
(false R (! iH | ((! iC | (! oO U (((oX & ! oO) & ! oP) & X ((! oO & ! oP) U oY)))) U (oO | (false R (! iC | ((oX & ! oP) & X (! oP U oY))))))))

#19: output W precedes output V, output Q after input E
((false R ! iE) | (! iE U (iE & (! (true U (oV & X (true U oQ))) | (! oV U oW)))))

#20: output W precedes output S before output P
(! (true U oP) | (! oS U (oW | oP)))

#21: output Q precedes output W before input G
(! (true U iG) | (! oW U (oQ | iG)))

#22: output P, output X precedes output V between input C and input A
(false R (! (iC & (true U iA)) | (! oV U (iA | ((oP & ! oV) & X (! oV U oX))))))

#23: output T, output Q responds to input H after input G
(false R (! iG | (false R (! iH | (oT & X (true U oQ))))))

#24: output U, input B precedes output O between input F and input A
(false R (! (iF & (true U iA)) | (! oO U (iA | ((oU & ! oO) & X (! oO U iB))))))

#25: output V precedes output S, output W between output O and output T
(false R (! (oO & (true U oT)) | (! ((oS & ! oT) & X (! oT U (oW & ! oT))) U (oT | oV))))

#26: output P, output Q always responds to input I
(false R (! iI | (true U (oP & X (true U oQ)))))

#27: output P responds to input D before output Q
(! (true U oQ) | ((! iD | (! oQ U (oP & ! oQ))) U oQ))

#28: output X, input E precedes output W between output R and output Q
(false R (! (oR & (true U oQ)) | (! oW U (oQ | ((oX & ! oW) & X (! oW U iE))))))

#29: output W, output P always responds to input D
(false R (! iD | (true U (oW & X (true U oP)))))

#30: output X, output Q always responds to input A
(false R (! iA | (true U (oX & X (true U oQ)))))

#31: output V, output Q responds to input C after output O until input G
(false R (! oO | ((! iC | (! iG U ((oV & ! iG) & X (! iG U oQ)))) U (iG | (false R (! iC | (oV & X (true U oQ))))))))

#32: output P, output Z precedes output O between input J and input E
(false R (! (iJ & (true U iE)) | (! oO U (iE | ((oP & ! oO) & X (! oO U oZ))))))

#33: input C, output Q precedes output T after output S until output V
(false R (! oS | (! (true U oT) | (! oT U (oV | ((iC & ! oT) & X (! oT U oQ)))))))

#34: output Q precedes output R, output X after output O
((false R ! oO) | (! oO U (oO & (! (true U (oR & X (true U oX))) | (! oR U oQ)))))

#35: input C, output Y precedes output Q after input D until input B
(false R (! iD | (! (true U oQ) | (! oQ U (iB | ((iC & ! oQ) & X (! oQ U oY)))))))

#36: output V, output T responds to input E after input D until output Y
(false R (! iD | ((! iE | (! oY U ((oV & ! oY) & X (! oY U oT)))) U (oY | (false R (! iE | (oV & X (true U oT))))))))

#37: output Q responds to input B, input F after input A
(false R (! iA | (false R (iB & (! X (true U iF) | X (! iF U (iF & (true U oQ))))))))

#38: output X always precedes output S
(! oS WU oX)

#39: output T responds to input A after output S until input H
(false R (oS & (! ! iH | ((! iA | (! iH U (oT & ! iH))) WU iH))))

#40: output V responds to input A, input J between output P and output Z
(false R (! (oP & (true U oZ)) | ((iA & (! X (! oZ U iJ) | X (! oZ U (iJ & (true U oV))))) U oZ)))

#41: output W, input I precedes output Z before input J
(! (true U iJ) | (! oZ U (iJ | ((oW & ! oZ) & X (! oZ U iI)))))

#42: output T, output S always responds to input H
(false R (! iH | (true U (oT & X (true U oS)))))

#43: output U, output Y precedes output W after input I
((false R ! iI) | (! iI U (iI & (! (true U oW) | (! oW U ((oU & ! oW) & X (! oW U oY)))))))

#44: output S responds to input E before input H
(! (true U iH) | ((! iE | (! iH U (oS & ! iH))) U iH))

#45: output O precedes output W between output Q and input B
(false R (! ((oQ & ! iB) & (true U iB)) | (! oW U (oO | iB))))

#46: output Y precedes output S between output U and output O
(false R (! ((oU & ! oO) & (true U oO)) | (! oS U (oY | oO))))

#47: input C precedes output W before input A
(! (true U iA) | (! oW U (iC | iA)))

#48: input D precedes output T before input A
(! (true U iA) | (! oT U (iD | iA)))

#49: input C always precedes output Q
(! oQ WU iC)

#50: output S, output X always precedes output Z
(! (true U oZ) | (! oZ U ((oS & ! oZ) & X (! oZ U oX))))

#51: input J always precedes output W
(! oW WU iJ)

#52: output Z, input B precedes output Y after output Q until output X
(false R (! oQ | (! (true U oY) | (! oY U (oX | ((oZ & ! oY) & X (! oY U iB)))))))

#53: output Z responds to input J, input I after output S
(false R (! oS | (false R (iJ & (! X (true U iI) | X (! iI U (iI & (true U oZ))))))))

#54: output W precedes output O, output R before input H
(! (true U iH) | (! ((oO & ! iH) & X (! iH U (oR & ! iH))) U (iH | oW)))

#55: input D precedes output Q, output V between input J and input H
(false R (! (iJ & (true U iH)) | (! ((oQ & ! iH) & X (! iH U (oV & ! iH))) U (iH | iD))))

#56: output U, input A always precedes output Q
(! (true U oQ) | (! oQ U ((oU & ! oQ) & X (! oQ U iA))))

#57: output Q, output P always responds to input F
(false R (! iF | (true U (oQ & X (true U oP)))))

#58: output W responds to input J after input G
(false R (! iG | (false R (! iJ | (true U oW)))))

#59: input B precedes output O, output Z before output V
(! (true U oV) | (! ((oO & ! oV) & X (! oV U (oZ & ! oV))) U (oV | iB)))

#60: input F precedes output R between input I and input D
(false R (! ((iI & ! iD) & (true U iD)) | (! oR U (iF | iD))))

#61: input I precedes output Z, output X after output W
((false R ! oW) | (! oW U (oW & (! (true U (oZ & X (true U oX))) | (! oZ U iI)))))

#62: output T precedes output Z after input E
((false R ! iE) | (true U (iE & (! oZ WU oT))))

#63: output X responds to input C after input B until input F
(false R (iB & (! ! iF | ((! iC | (! iF U (oX & ! iF))) WU iF))))

#64: output O precedes output V after output Z
((false R ! oZ) | (true U (oZ & (! oV WU oO))))

#65: output X, output S responds to input A before input B
(! (true U iB) | ((! iA | (! iB U ((oX & ! iB) & X (! iB U oS)))) U iB))

#66: output O, input I precedes output P after output S
((false R ! oS) | (! oS U (oS & (! (true U oP) | (! oP U ((oO & ! oP) & X (! oP U iI)))))))

#67: output S, output Z without output T responds to input C after output V
(false R (! oV | (false R (! iC | ((oS & ! oT) & X (! oT U oZ))))))

#68: output W always precedes output V
(! oV WU oW)

#69: output Z responds to input I, input H before output X
(! (true U oX) | ((iI & (! X (! oX U iH) | X (! oX U (iH & (true U oZ))))) U oX))

#70: input C precedes output R after input J
((false R ! iJ) | (true U (iJ & (! oR WU iC))))

#71: output Z precedes output S between input B and output Q
(false R (! ((iB & ! oQ) & (true U oQ)) | (! oS U (oZ | oQ))))

#72: output S responds to input E between input I and output P
(false R (! ((iI & ! oP) & (true U oP)) | ((! iE | (! oP U (oS & ! oP))) U oP)))

#73: output X, output U without output R responds to input J after output S until output Z
(false R (! oS | ((! iJ | (! oZ U (((oX & ! oZ) & ! oR) & X ((! oZ & ! oR) U oU)))) U (oZ | (false R (! iJ | ((oX & ! oR) & X (! oR U oU))))))))

#74: output W always responds to input I
(false R (! iI | (true U oW)))

#75: input E precedes output X before output O
(! (true U oO) | (! oX U (iE | oO)))

#76: output Z precedes output S before output X
(! (true U oX) | (! oS U (oZ | oX)))

#77: output O, input G precedes output V before output S
(! (true U oS) | (! oV U (oS | ((oO & ! oV) & X (! oV U iG)))))

#78: output Z, output X responds to input B between input G and output O
(false R (! (iG & (true U oO)) | ((! iB | (! oO U ((oZ & ! oO) & X (! oO U oX)))) U oO)))

#79: input E always precedes output U, output Y
(! (true U (oU & X (true U oY))) | (! oU U iE))

#80: output U responds to input C before output O
(! (true U oO) | ((! iC | (! oO U (oU & ! oO))) U oO))

#81: output S, output Z responds to input E after output T
(false R (! oT | (false R (! iE | (oS & X (true U oZ))))))

#82: output W always precedes output T, output Y
(! (true U (oT & X (true U oY))) | (! oT U oW))

#83: output S, output T without output X always responds to input E
(false R (! iE | (true U ((oS & ! oX) & X (! oX U oT)))))

#84: input B, input I precedes output S after output X
((false R ! oX) | (! oX U (oX & (! (true U oS) | (! oS U ((iB & ! oS) & X (! oS U iI)))))))

#85: output Y, output S always responds to input E
(false R (! iE | (true U (oY & X (true U oS)))))

#86: output P responds to input E, input I between input D and output Y
(false R (! (iD & (true U oY)) | ((iE & (! X (! oY U iI) | X (! oY U (iI & (true U oP))))) U oY)))

#87: output Z, input E precedes output O between input A and output W
(false R (! (iA & (true U oW)) | (! oO U (oW | ((oZ & ! oO) & X (! oO U iE))))))

#88: output V, output S without output T responds to input D before output O
(! (true U oO) | ((! iD | (! oO U (((oV & ! oO) & ! oT) & X ((! oO & ! oT) U oS)))) U oO))

#89: output U precedes output W, output S after output Z until input C
(false R (! oZ | ((! ((oW & ! iC) & X (! iC U (oS & ! iC))) U (iC | oU)) | (false R ! (oW & X (true U oS))))))

#90: input D precedes output X, output Q after output Z
((false R ! oZ) | (! oZ U (oZ & (! (true U (oX & X (true U oQ))) | (! oX U iD)))))

#91: output S always responds to input E
(false R (! iE | (true U oS)))

#92: output V always responds to input H, input B
(false R (iH & (! X (true U iB) | X (true U (iB & (true U oV))))))

#93: output U responds to input E, input H before output P
(! (true U oP) | ((iE & (! X (! oP U iH) | X (! oP U (iH & (true U oU))))) U oP))

#94: output W, output P always responds to input C
(false R (! iC | (true U (oW & X (true U oP)))))

#95: output V, output Y always responds to input H
(false R (! iH | (true U (oV & X (true U oY)))))

#96: input C, input A precedes output P before output V
(! (true U oV) | (! oP U (oV | ((iC & ! oP) & X (! oP U iA)))))

#97: output U precedes output S after input D
((false R ! iD) | (true U (iD & (! oS WU oU))))

#98: output T responds to input D, input B after output R until input F
(false R (! oR | ((iD & (! X (! iF U iB) | X (! iF U (iB & (true U oT))))) U (iF | (false R (iD & (! X (! iF U iB) | X (! iF U (iB & (true U oT))))))))))

#99: input A, input C precedes output Y after input B
((false R ! iB) | (! iB U (iB & (! (true U oY) | (! oY U ((iA & ! oY) & X (! oY U iC)))))))

