#inputs [A, B, C, D, E, F, G, H, I, J, K, L, M, N, O]
#outputs [X, Y, Z, U, V, W, S, T, P, Q, R]
#0: output V, output P without output Y responds to input F after input B
(false R (! iB | (false R (! iF | ((oV & ! oY) & X (! oY U oP))))))

#1: output X, output Z without output Q responds to input F after input K until output P
(false R (! iK | ((! iF | (! oP U (((oX & ! oP) & ! oQ) & X ((! oP & ! oQ) U oZ)))) U (oP | (false R (! iF | ((oX & ! oQ) & X (! oQ U oZ))))))))

#2: input B precedes output V, output Q between input O and input K
(false R (! (iO & (true U iK)) | (! ((oV & ! iK) & X (! iK U (oQ & ! iK))) U (iK | iB))))

#3: output S precedes output U before input A
(! (true U iA) | (! oU U (oS | iA)))

#4: output P responds to input D before input C
(! (true U iC) | ((! iD | (! iC U (oP & ! iC))) U iC))

#5: input F precedes output S, output R before input C
(! (true U iC) | (! ((oS & ! iC) & X (! iC U (oR & ! iC))) U (iC | iF)))

#6: input H, output U precedes output Z after output Q until output X
(false R (! oQ | (! (true U oZ) | (! oZ U (oX | ((iH & ! oZ) & X (! oZ U oU)))))))

#7: input F precedes output S, output X after input G
((false R ! iG) | (! iG U (iG & (! (true U (oS & X (true U oX))) | (! oS U iF)))))

#8: output T, output Z without output R responds to input O before input I
(! (true U iI) | ((! iO | (! iI U (((oT & ! iI) & ! oR) & X ((! iI & ! oR) U oZ)))) U iI))

#9: output R, output Q responds to input C after input N until input A
(false R (! iN | ((! iC | (! iA U ((oR & ! iA) & X (! iA U oQ)))) U (iA | (false R (! iC | (oR & X (true U oQ))))))))

#10: output P, output W without output T responds to input N after input F until input D
(false R (! iF | ((! iN | (! iD U (((oP & ! iD) & ! oT) & X ((! iD & ! oT) U oW)))) U (iD | (false R (! iN | ((oP & ! oT) & X (! oT U oW))))))))

#11: input M precedes output R between input A and input I
(false R (! ((iA & ! iI) & (true U iI)) | (! oR U (iM | iI))))

#12: output Q precedes output W, output Y between input L and input G
(false R (! (iL & (true U iG)) | (! ((oW & ! iG) & X (! iG U (oY & ! iG))) U (iG | oQ))))

#13: input L, output X precedes output W before input F
(! (true U iF) | (! oW U (iF | ((iL & ! oW) & X (! oW U oX)))))

#14: output R, output S without output V responds to input N before output Y
(! (true U oY) | ((! iN | (! oY U (((oR & ! oY) & ! oV) & X ((! oY & ! oV) U oS)))) U oY))

#15: output V, output T without output Y always responds to input K
(false R (! iK | (true U ((oV & ! oY) & X (! oY U oT)))))

#16: input A precedes output Y, output V after output U until output R
(false R (! oU | ((! ((oY & ! oR) & X (! oR U (oV & ! oR))) U (oR | iA)) | (false R ! (oY & X (true U oV))))))

#17: output U, output Y without output S responds to input D after input A
(false R (! iA | (false R (! iD | ((oU & ! oS) & X (! oS U oY))))))

#18: input D precedes output Q, output V after output Y
((false R ! oY) | (! oY U (oY & (! (true U (oQ & X (true U oV))) | (! oQ U iD)))))

#19: output V precedes output S after input K until output Z
(false R (iK & (! ! oZ | (! oS WU (oV | oZ)))))

#20: output Y, output Q responds to input F before input E
(! (true U iE) | ((! iF | (! iE U ((oY & ! iE) & X (! iE U oQ)))) U iE))

#21: output Y responds to input G, input I after input K until input L
(false R (! iK | ((iG & (! X (! iL U iI) | X (! iL U (iI & (true U oY))))) U (iL | (false R (iG & (! X (! iL U iI) | X (! iL U (iI & (true U oY))))))))))

#22: output U always precedes output W
(! oW WU oU)

#23: output S responds to input L before input E
(! (true U iE) | ((! iL | (! iE U (oS & ! iE))) U iE))

#24: output S responds to input O after input B
(false R (! iB | (false R (! iO | (true U oS)))))

#25: output X precedes output R, output S after output Q
((false R ! oQ) | (! oQ U (oQ & (! (true U (oR & X (true U oS))) | (! oR U oX)))))

#26: output T always responds to input N, input M
(false R (iN & (! X (true U iM) | X (true U (iM & (true U oT))))))

#27: input L, input O precedes output Z before input A
(! (true U iA) | (! oZ U (iA | ((iL & ! oZ) & X (! oZ U iO)))))

#28: output T responds to input N between input I and output X
(false R (! ((iI & ! oX) & (true U oX)) | ((! iN | (! oX U (oT & ! oX))) U oX)))

#29: output R always precedes output S
(! oS WU oR)

#30: output T precedes output W, output Q before output X
(! (true U oX) | (! ((oW & ! oX) & X (! oX U (oQ & ! oX))) U (oX | oT)))

#31: input A always precedes output P
(! oP WU iA)

#32: output U, input F always precedes output X
(! (true U oX) | (! oX U ((oU & ! oX) & X (! oX U iF))))

#33: output P always responds to input J, input M
(false R (iJ & (! X (true U iM) | X (true U (iM & (true U oP))))))

#34: output P, output S responds to input G before input D
(! (true U iD) | ((! iG | (! iD U ((oP & ! iD) & X (! iD U oS)))) U iD))

#35: output W, output R without output Y responds to input H before output T
(! (true U oT) | ((! iH | (! oT U (((oW & ! oT) & ! oY) & X ((! oT & ! oY) U oR)))) U oT))

#36: output R, output Q without output X responds to input E after output Z
(false R (! oZ | (false R (! iE | ((oR & ! oX) & X (! oX U oQ))))))

#37: input G, output V always precedes output T
(! (true U oT) | (! oT U ((iG & ! oT) & X (! oT U oV))))

#38: output R, output V without output W responds to input A after input J until input B
(false R (! iJ | ((! iA | (! iB U (((oR & ! iB) & ! oW) & X ((! iB & ! oW) U oV)))) U (iB | (false R (! iA | ((oR & ! oW) & X (! oW U oV))))))))

#39: output W responds to input E before input D
(! (true U iD) | ((! iE | (! iD U (oW & ! iD))) U iD))

#40: output X, output V without output S responds to input N after output U
(false R (! oU | (false R (! iN | ((oX & ! oS) & X (! oS U oV))))))

#41: output W, output X precedes output S between input I and input K
(false R (! (iI & (true U iK)) | (! oS U (iK | ((oW & ! oS) & X (! oS U oX))))))

#42: output U, output S always responds to input C
(false R (! iC | (true U (oU & X (true U oS)))))

#43: output R precedes output T, output Z between output P and output W
(false R (! (oP & (true U oW)) | (! ((oT & ! oW) & X (! oW U (oZ & ! oW))) U (oW | oR))))

#44: output P, output T without output Z responds to input J betwen input O and input E
(false R (! (iO & (true U iE)) | ((! iJ | (! iE U (((oP & ! iE) & ! oZ) & X ((! iE & ! oZ) U oT)))) U iE)))

#45: output V, output R always responds to input M
(false R (! iM | (true U (oV & X (true U oR)))))

#46: input B, input E always precedes output W
(! (true U oW) | (! oW U ((iB & ! oW) & X (! oW U iE))))

#47: output X responds to input O after output R until input M
(false R (oR & (! ! iM | ((! iO | (! iM U (oX & ! iM))) WU iM))))

#48: output V always responds to input J
(false R (! iJ | (true U oV)))

#49: output S responds to input M, input H before input D
(! (true U iD) | ((iM & (! X (! iD U iH) | X (! iD U (iH & (true U oS))))) U iD))

#50: input I, input O precedes output V after output R
((false R ! oR) | (! oR U (oR & (! (true U oV) | (! oV U ((iI & ! oV) & X (! oV U iO)))))))

#51: output R responds to input I before input M
(! (true U iM) | ((! iI | (! iM U (oR & ! iM))) U iM))

#52: input C precedes output T, output V after output R until input M
(false R (! oR | ((! ((oT & ! iM) & X (! iM U (oV & ! iM))) U (iM | iC)) | (false R ! (oT & X (true U oV))))))

#53: output Y precedes output V, output W after input B until input J
(false R (! iB | ((! ((oV & ! iJ) & X (! iJ U (oW & ! iJ))) U (iJ | oY)) | (false R ! (oV & X (true U oW))))))

#54: output T responds to input G, input C before input D
(! (true U iD) | ((iG & (! X (! iD U iC) | X (! iD U (iC & (true U oT))))) U iD))

#55: output Z, output P responds to input A after output R
(false R (! oR | (false R (! iA | (oZ & X (true U oP))))))

#56: input F precedes output Y between output S and input K
(false R (! ((oS & ! iK) & (true U iK)) | (! oY U (iF | iK))))

#57: input I, input M precedes output W between output Q and input D
(false R (! (oQ & (true U iD)) | (! oW U (iD | ((iI & ! oW) & X (! oW U iM))))))

#58: output Z responds to input A, input O between output Q and output Y
(false R (! (oQ & (true U oY)) | ((iA & (! X (! oY U iO) | X (! oY U (iO & (true U oZ))))) U oY)))

#59: input C, input N precedes output R between output P and input O
(false R (! (oP & (true U iO)) | (! oR U (iO | ((iC & ! oR) & X (! oR U iN))))))

#60: output Y responds to input D before input L
(! (true U iL) | ((! iD | (! iL U (oY & ! iL))) U iL))

#61: input C precedes output Z after output Y until input M
(false R (oY & (! ! iM | (! oZ WU (iC | iM)))))

#62: output S responds to input H between output Y and output W
(false R (! ((oY & ! oW) & (true U oW)) | ((! iH | (! oW U (oS & ! oW))) U oW)))

#63: output V responds to input D between input C and input H
(false R (! ((iC & ! iH) & (true U iH)) | ((! iD | (! iH U (oV & ! iH))) U iH)))

#64: output Z, output R always responds to input M
(false R (! iM | (true U (oZ & X (true U oR)))))

#65: output V, output P without output X responds to input A before input B
(! (true U iB) | ((! iA | (! iB U (((oV & ! iB) & ! oX) & X ((! iB & ! oX) U oP)))) U iB))

#66: input N precedes output Z, output X after input H
((false R ! iH) | (! iH U (iH & (! (true U (oZ & X (true U oX))) | (! oZ U iN)))))

#67: input I always precedes output Q, output S
(! (true U (oQ & X (true U oS))) | (! oQ U iI))

#68: output X, output Z without output U responds to input K betwen input I and output T
(false R (! (iI & (true U oT)) | ((! iK | (! oT U (((oX & ! oT) & ! oU) & X ((! oT & ! oU) U oZ)))) U oT)))

#69: output V precedes output Y between output X and output T
(false R (! ((oX & ! oT) & (true U oT)) | (! oY U (oV | oT))))

#70: output V, input F precedes output R between input L and output U
(false R (! (iL & (true U oU)) | (! oR U (oU | ((oV & ! oR) & X (! oR U iF))))))

#71: input E always precedes output R
(! oR WU iE)

#72: output R, output W without output V responds to input C before output U
(! (true U oU) | ((! iC | (! oU U (((oR & ! oU) & ! oV) & X ((! oU & ! oV) U oW)))) U oU))

#73: input G precedes output R between input E and output P
(false R (! ((iE & ! oP) & (true U oP)) | (! oR U (iG | oP))))

#74: output T, output Y without output V always responds to input C
(false R (! iC | (true U ((oT & ! oV) & X (! oV U oY)))))

#75: input B precedes output Y after input G until input C
(false R (iG & (! ! iC | (! oY WU (iB | iC)))))

#76: output T, output Y precedes output W after input K
((false R ! iK) | (! iK U (iK & (! (true U oW) | (! oW U ((oT & ! oW) & X (! oW U oY)))))))

#77: input G precedes output W, output Z after input D
((false R ! iD) | (! iD U (iD & (! (true U (oW & X (true U oZ))) | (! oW U iG)))))

#78: output S, output R responds to input E between input C and input N
(false R (! (iC & (true U iN)) | ((! iE | (! iN U ((oS & ! iN) & X (! iN U oR)))) U iN)))

#79: output R, output W always responds to input H
(false R (! iH | (true U (oR & X (true U oW)))))

#80: input A precedes output Z after output T until output Y
(false R (oT & (! ! oY | (! oZ WU (iA | oY)))))

#81: input K precedes output S, output W between input L and output U
(false R (! (iL & (true U oU)) | (! ((oS & ! oU) & X (! oU U (oW & ! oU))) U (oU | iK))))

#82: output Z, output T responds to input O after output W
(false R (! oW | (false R (! iO | (oZ & X (true U oT))))))

#83: input N precedes output Q after output R until input O
(false R (oR & (! ! iO | (! oQ WU (iN | iO)))))

#84: output Y always responds to input N
(false R (! iN | (true U oY)))

#85: input O, output R precedes output Z between output Y and output U
(false R (! (oY & (true U oU)) | (! oZ U (oU | ((iO & ! oZ) & X (! oZ U oR))))))

#86: output Z always precedes output S, output X
(! (true U (oS & X (true U oX))) | (! oS U oZ))

#87: output W always responds to input N, input L
(false R (iN & (! X (true U iL) | X (true U (iL & (true U oW))))))

#88: output R, output X without output T responds to input A betwen input M and input N
(false R (! (iM & (true U iN)) | ((! iA | (! iN U (((oR & ! iN) & ! oT) & X ((! iN & ! oT) U oX)))) U iN)))

#89: output Z responds to input A, input N after output P
(false R (! oP | (false R (iA & (! X (true U iN) | X (! iN U (iN & (true U oZ))))))))

#90: output Z, output V always responds to input D
(false R (! iD | (true U (oZ & X (true U oV)))))

#91: input F, output S precedes output Y between input N and output X
(false R (! (iN & (true U oX)) | (! oY U (oX | ((iF & ! oY) & X (! oY U oS))))))

#92: output S, input M precedes output P between input I and input J
(false R (! (iI & (true U iJ)) | (! oP U (iJ | ((oS & ! oP) & X (! oP U iM))))))

#93: input L always precedes output Q
(! oQ WU iL)

#94: output V responds to input I, input H before input L
(! (true U iL) | ((iI & (! X (! iL U iH) | X (! iL U (iH & (true U oV))))) U iL))

#95: output Y, output S responds to input D after input H until input C
(false R (! iH | ((! iD | (! iC U ((oY & ! iC) & X (! iC U oS)))) U (iC | (false R (! iD | (oY & X (true U oS))))))))

#96: input B precedes output Y between input H and input I
(false R (! ((iH & ! iI) & (true U iI)) | (! oY U (iB | iI))))

#97: output P, output S always responds to input F
(false R (! iF | (true U (oP & X (true U oS)))))

#98: output Q, input A precedes output W after output S
((false R ! oS) | (! oS U (oS & (! (true U oW) | (! oW U ((oQ & ! oW) & X (! oW U iA)))))))

#99: output T, output W precedes output Y after input J until input D
(false R (! iJ | (! (true U oY) | (! oY U (iD | ((oT & ! oY) & X (! oY U oW)))))))

