#inputs [A, B, C, D, E, F, G, H, I, J]
#outputs [X, Y, Z, U, V, W, S, T, O, P, Q, R]
#0: output U precedes output W, output S after output Z until input C
(false R (! oZ | ((! ((oW & ! iC) & X (! iC U (oS & ! iC))) U (iC | oU)) | (false R ! (oW & X (true U oS))))))

#1: output X responds to input C after input B until input F
(false R (iB & (! ! iF | ((! iC | (! iF U (oX & ! iF))) WU iF))))

#2: output Z precedes output S before output X
(! (true U oX) | (! oS U (oZ | oX)))

#3: output U, input B precedes output O between input F and input A
(false R (! (iF & (true U iA)) | (! oO U (iA | ((oU & ! oO) & X (! oO U iB))))))

#4: output T, output Q responds to input H after input G
(false R (! iG | (false R (! iH | (oT & X (true U oQ))))))

#5: input G precedes output X, output T after output V until output O
(false R (! oV | ((! ((oX & ! oO) & X (! oO U (oT & ! oO))) U (oO | iG)) | (false R ! (oX & X (true U oT))))))

#6: output P, output Q always responds to input I
(false R (! iI | (true U (oP & X (true U oQ)))))

#7: input F precedes output U, output X between output Z and input G
(false R (! (oZ & (true U iG)) | (! ((oU & ! iG) & X (! iG U (oX & ! iG))) U (iG | iF))))

#8: output V, output Y always responds to input H
(false R (! iH | (true U (oV & X (true U oY)))))

#9: output T precedes output Z after input E
((false R ! iE) | (true U (iE & (! oZ WU oT))))

#10: output U, input A always precedes output Q
(! (true U oQ) | (! oQ U ((oU & ! oQ) & X (! oQ U iA))))

#11: output O, output V responds to input E after output R
(false R (! oR | (false R (! iE | (oO & X (true U oV))))))

#12: output W responds to input H, input D between output Z and input I
(false R (! (oZ & (true U iI)) | ((iH & (! X (! iI U iD) | X (! iI U (iD & (true U oW))))) U iI)))

#13: output S, output T without output X always responds to input E
(false R (! iE | (true U ((oS & ! oX) & X (! oX U oT)))))

#14: output S, output Z without output P responds to input J before output Q
(! (true U oQ) | ((! iJ | (! oQ U (((oS & ! oQ) & ! oP) & X ((! oQ & ! oP) U oZ)))) U oQ))

#15: output W always precedes output T, output Y
(! (true U (oT & X (true U oY))) | (! oT U oW))

#16: input H, input I precedes output W before input A
(! (true U iA) | (! oW U (iA | ((iH & ! oW) & X (! oW U iI)))))

#17: output Y, output T without output R responds to input C after input F until output O
(false R (! iF | ((! iC | (! oO U (((oY & ! oO) & ! oR) & X ((! oO & ! oR) U oT)))) U (oO | (false R (! iC | ((oY & ! oR) & X (! oR U oT))))))))

#18: output R precedes output P after input D
((false R ! iD) | (true U (iD & (! oP WU oR))))

#19: input E always precedes output U, output Y
(! (true U (oU & X (true U oY))) | (! oU U iE))

#20: output X, output Y without output P responds to input C after input H until output O
(false R (! iH | ((! iC | (! oO U (((oX & ! oO) & ! oP) & X ((! oO & ! oP) U oY)))) U (oO | (false R (! iC | ((oX & ! oP) & X (! oP U oY))))))))

#21: output O responds to input E, input G between output T and input B
(false R (! (oT & (true U iB)) | ((iE & (! X (! iB U iG) | X (! iB U (iG & (true U oO))))) U iB)))

#22: output O precedes output V after output Z
((false R ! oZ) | (true U (oZ & (! oV WU oO))))

#23: output Z responds to input J, input I after output S
(false R (! oS | (false R (iJ & (! X (true U iI) | X (! iI U (iI & (true U oZ))))))))

#24: output V precedes output S, output W between output O and output T
(false R (! (oO & (true U oT)) | (! ((oS & ! oT) & X (! oT U (oW & ! oT))) U (oT | oV))))

#25: output V responds to input G, input B before input F
(! (true U iF) | ((iG & (! X (! iF U iB) | X (! iF U (iB & (true U oV))))) U iF))

#26: input J, input D always precedes output R
(! (true U oR) | (! oR U ((iJ & ! oR) & X (! oR U iD))))

#27: input C precedes output W before input A
(! (true U iA) | (! oW U (iC | iA)))

#28: output P, output Z precedes output O between input J and input E
(false R (! (iJ & (true U iE)) | (! oO U (iE | ((oP & ! oO) & X (! oO U oZ))))))

#29: output S responds to input E between input I and output P
(false R (! ((iI & ! oP) & (true U oP)) | ((! iE | (! oP U (oS & ! oP))) U oP)))

#30: output P responds to input D before output Q
(! (true U oQ) | ((! iD | (! oQ U (oP & ! oQ))) U oQ))

#31: input B precedes output O, output Z before output V
(! (true U oV) | (! ((oO & ! oV) & X (! oV U (oZ & ! oV))) U (oV | iB)))

#32: output V, output U always responds to input H
(false R (! iH | (true U (oV & X (true U oU)))))

#33: output U responds to input C before output O
(! (true U oO) | ((! iC | (! oO U (oU & ! oO))) U oO))

#34: input B, output Q precedes output S after output T
((false R ! oT) | (! oT U (oT & (! (true U oS) | (! oS U ((iB & ! oS) & X (! oS U oQ)))))))

#35: output W always responds to input I
(false R (! iI | (true U oW)))

#36: input D precedes output Q, output V between input J and input H
(false R (! (iJ & (true U iH)) | (! ((oQ & ! iH) & X (! iH U (oV & ! iH))) U (iH | iD))))

#37: output Q responds to input B, input F after input A
(false R (! iA | (false R (iB & (! X (true U iF) | X (! iF U (iF & (true U oQ))))))))

#38: output Q, output V always responds to input I
(false R (! iI | (true U (oQ & X (true U oV)))))

#39: output R responds to input J after input G
(false R (! iG | (false R (! iJ | (true U oR)))))

#40: output O, input I precedes output P after output S
((false R ! oS) | (! oS U (oS & (! (true U oP) | (! oP U ((oO & ! oP) & X (! oP U iI)))))))

#41: output U precedes output S after input D
((false R ! iD) | (true U (iD & (! oS WU oU))))

#42: output W, output P always responds to input D
(false R (! iD | (true U (oW & X (true U oP)))))

#43: output Q, output O responds to input I after input C until output U
(false R (! iC | ((! iI | (! oU U ((oQ & ! oU) & X (! oU U oO)))) U (oU | (false R (! iI | (oQ & X (true U oO))))))))

#44: output O precedes output Z after output U until output W
(false R (oU & (! ! oW | (! oZ WU (oO | oW)))))

#45: output X, output Q always responds to input J
(false R (! iJ | (true U (oX & X (true U oQ)))))

#46: output S, output Z without output T responds to input C after output V
(false R (! oV | (false R (! iC | ((oS & ! oT) & X (! oT U oZ))))))

#47: output U, output S without output W responds to input F before output R
(! (true U oR) | ((! iF | (! oR U (((oU & ! oR) & ! oW) & X ((! oR & ! oW) U oS)))) U oR))

#48: output Z, input E precedes output O between input A and output W
(false R (! (iA & (true U oW)) | (! oO U (oW | ((oZ & ! oO) & X (! oO U iE))))))

#49: output U, output V responds to input E after input H until output X
(false R (! iH | ((! iE | (! oX U ((oU & ! oX) & X (! oX U oV)))) U (oX | (false R (! iE | (oU & X (true U oV))))))))

#50: output X, output U without output R responds to input J after output S until output Z
(false R (! oS | ((! iJ | (! oZ U (((oX & ! oZ) & ! oR) & X ((! oZ & ! oR) U oU)))) U (oZ | (false R (! iJ | ((oX & ! oR) & X (! oR U oU))))))))

#51: output S responds to input H, input I between input A and output W
(false R (! (iA & (true U oW)) | ((iH & (! X (! oW U iI) | X (! oW U (iI & (true U oS))))) U oW)))

#52: output P precedes output Z before output T
(! (true U oT) | (! oZ U (oP | oT)))

#53: output O, input G precedes output V before output S
(! (true U oS) | (! oV U (oS | ((oO & ! oV) & X (! oV U iG)))))

#54: output Z, input B precedes output Y after output Q until output X
(false R (! oQ | (! (true U oY) | (! oY U (oX | ((oZ & ! oY) & X (! oY U iB)))))))

#55: output T responds to input C after output U until input D
(false R (oU & (! ! iD | ((! iC | (! iD U (oT & ! iD))) WU iD))))

#56: output W, input I precedes output Z before input J
(! (true U iJ) | (! oZ U (iJ | ((oW & ! oZ) & X (! oZ U iI)))))

#57: input E precedes output X before output O
(! (true U oO) | (! oX U (iE | oO)))

#58: output X, output Q always responds to input A
(false R (! iA | (true U (oX & X (true U oQ)))))

#59: output X always precedes output S
(! oS WU oX)

#60: output Q, output P always responds to input F
(false R (! iF | (true U (oQ & X (true U oP)))))

#61: input I precedes output Z, output X after output W
((false R ! oW) | (! oW U (oW & (! (true U (oZ & X (true U oX))) | (! oZ U iI)))))

#62: input E, input F precedes output T after input J until output R
(false R (! iJ | (! (true U oT) | (! oT U (oR | ((iE & ! oT) & X (! oT U iF)))))))

#63: input F precedes output R between input I and input D
(false R (! ((iI & ! iD) & (true U iD)) | (! oR U (iF | iD))))

#64: output Y precedes output S between output U and output O
(false R (! ((oU & ! oO) & (true U oO)) | (! oS U (oY | oO))))

#65: output X, input E precedes output W between output R and output Q
(false R (! (oR & (true U oQ)) | (! oW U (oQ | ((oX & ! oW) & X (! oW U iE))))))

#66: input E precedes output X, output W before output U
(! (true U oU) | (! ((oX & ! oU) & X (! oU U (oW & ! oU))) U (oU | iE)))

#67: output P, output X precedes output V between input C and input A
(false R (! (iC & (true U iA)) | (! oV U (iA | ((oP & ! oV) & X (! oV U oX))))))

#68: input D precedes output U after output Y until output R
(false R (oY & (! ! oR | (! oU WU (iD | oR)))))

#69: output W precedes output O, output R before input H
(! (true U iH) | (! ((oO & ! iH) & X (! iH U (oR & ! iH))) U (iH | oW)))

#70: output P responds to input E, input I between input D and output Y
(false R (! (iD & (true U oY)) | ((iE & (! X (! oY U iI) | X (! oY U (iI & (true U oP))))) U oY)))

#71: output U, output Y precedes output W after input I
((false R ! iI) | (! iI U (iI & (! (true U oW) | (! oW U ((oU & ! oW) & X (! oW U oY)))))))

#72: input C always precedes output Q
(! oQ WU iC)

#73: output W precedes output V, output Q after input E
((false R ! iE) | (! iE U (iE & (! (true U (oV & X (true U oQ))) | (! oV U oW)))))

#74: output V responds to input A, input J between output P and output Z
(false R (! (oP & (true U oZ)) | ((iA & (! X (! oZ U iJ) | X (! oZ U (iJ & (true U oV))))) U oZ)))

#75: input C, output Q precedes output T after output S until output V
(false R (! oS | (! (true U oT) | (! oT U (oV | ((iC & ! oT) & X (! oT U oQ)))))))

#76: output P, output O responds to input J before input C
(! (true U iC) | ((! iJ | (! iC U ((oP & ! iC) & X (! iC U oO)))) U iC))

#77: output W, input H precedes output T before input D
(! (true U iD) | (! oT U (iD | ((oW & ! oT) & X (! oT U iH)))))

#78: output W responds to input J after input G
(false R (! iG | (false R (! iJ | (true U oW)))))

#79: input D precedes output X, output Q after output Z
((false R ! oZ) | (! oZ U (oZ & (! (true U (oX & X (true U oQ))) | (! oX U iD)))))

#80: output O precedes output W between output Q and input B
(false R (! ((oQ & ! iB) & (true U iB)) | (! oW U (oO | iB))))

#81: input C precedes output R after input J
((false R ! iJ) | (true U (iJ & (! oR WU iC))))

#82: output S responds to input C between output X and output P
(false R (! ((oX & ! oP) & (true U oP)) | ((! iC | (! oP U (oS & ! oP))) U oP)))

#83: output O precedes output Z, output R between output P and output S
(false R (! (oP & (true U oS)) | (! ((oZ & ! oS) & X (! oS U (oR & ! oS))) U (oS | oO))))

#84: output V precedes output S, output X after input H
((false R ! iH) | (! iH U (iH & (! (true U (oS & X (true U oX))) | (! oS U oV)))))

#85: input C, output Y precedes output Q after input D until input B
(false R (! iD | (! (true U oQ) | (! oQ U (iB | ((iC & ! oQ) & X (! oQ U oY)))))))

#86: output V, output S without output T responds to input D before output O
(! (true U oO) | ((! iD | (! oO U (((oV & ! oO) & ! oT) & X ((! oO & ! oT) U oS)))) U oO))

#87: output Y responds to input I after output P until output W
(false R (oP & (! ! oW | ((! iI | (! oW U (oY & ! oW))) WU oW))))

#88: output S responds to input E before input H
(! (true U iH) | ((! iE | (! iH U (oS & ! iH))) U iH))

#89: output W, output Y precedes output P after input J until output V
(false R (! iJ | (! (true U oP) | (! oP U (oV | ((oW & ! oP) & X (! oP U oY)))))))

#90: input A, input J precedes output X after input H
((false R ! iH) | (! iH U (iH & (! (true U oX) | (! oX U ((iA & ! oX) & X (! oX U iJ)))))))

#91: input C, output S precedes output V between output X and output U
(false R (! (oX & (true U oU)) | (! oV U (oU | ((iC & ! oV) & X (! oV U oS))))))

#92: output U responds to input J between input A and output P
(false R (! ((iA & ! oP) & (true U oP)) | ((! iJ | (! oP U (oU & ! oP))) U oP)))

#93: output S always responds to input E
(false R (! iE | (true U oS)))

#94: output V, output T responds to input E after input D until output Y
(false R (! iD | ((! iE | (! oY U ((oV & ! oY) & X (! oY U oT)))) U (oY | (false R (! iE | (oV & X (true U oT))))))))

#95: output U responds to input E, input H before output P
(! (true U oP) | ((iE & (! X (! oP U iH) | X (! oP U (iH & (true U oU))))) U oP))

#96: output T, output S always responds to input H
(false R (! iH | (true U (oT & X (true U oS)))))

#97: output P precedes output R, output O after input E
((false R ! iE) | (! iE U (iE & (! (true U (oR & X (true U oO))) | (! oR U oP)))))

#98: input A precedes output W, output R after output V
((false R ! oV) | (! oV U (oV & (! (true U (oW & X (true U oR))) | (! oW U iA)))))

#99: output Z precedes output S between input B and output Q
(false R (! ((iB & ! oQ) & (true U oQ)) | (! oS U (oZ | oQ))))

